<html>
    <head>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">

        <script>
            //This generates a csv of provided data)
            var data = [["name1", "city1", "some other info"], ["name2", "city2", "more info"]];
            var csvContent = "data:text/csv;charset=utf-8,";
            data.forEach(function(infoArray, index){

            dataString = infoArray.join(",");
            csvContent += index < data.length ? dataString+ "\n" : dataString;

            var encodedUri = encodeURI(csvContent);
            //window.open(encodedUri);

        }); 
        </script>

        <script type="text/template" id="data_template">

        <tr>
            <td><%= name %></td>
            <td><p><strong><%= district_name %></strong></td>
            <td><p>
                <% if (party_name == "NDP") { %>
                    <img height="22" src="images/ndp-logo.png"/>
                    <span><%= party_name %></span>
                <% } %>
                <% if (party_name == "Liberal") { %>
                    <img height="22" src="images/liberal-logo.png"/>
                    <span><%= party_name %></span>
                <% } %>
                <% if (party_name == "Conservative") { %>
                    <img height="22" src="images/conservative-logo.png"/>
                    <span><%= party_name %></span>
                <% } %>
                <% if (party_name == "Green Party") { %>
                    <img height="22" src="images/green-logo.gif"/>
                    <span><%= party_name %></span>
                <%}%>
                <% if (party_name == "Bloc Québécois") { %>
                    <img height="22" src="images/bloc-logo.png"/>
                    <span><%= party_name %></span>
                <%}%>
            </p></td>
            <td><p><a href="mailto:<%= email %>"><%= email %></a></p></td>

            <td>
                <% _.each(offices, function(office){ //Loops through office data %>
                <p><strong><span class="office"><%= office.type %></span></strong></p>
                <p><strong>Phone:</strong> <%= office.tel %></p>
                <p><strong>Fax:</strong> <%= office.fax %></p>
                <p><strong>Address:</strong> <%= office.postal %></p>
                <% if (office !== offices[offices.length-1]) { %>
                    <hr>
                <%}%>
                <% }); %>
            </td>
            </tr>
        </script>
    </head>
    <body>
        <section class="data">
            <div class="data_container">
                <div class="filters">
                    <label>Filter by party</label>
                     <select id="party-filter">
                        <option value="Reset">Reset Filter</option>
                        <option value="Liberal">Liberal</option>
                        <option value="Conservative">Conservative</option>
                        <option value="NDP">NDP</option>
                        <option value="Bloc Québécois">Bloc Québécois</option>
                        <option value="Green Party">Green Party</option>
                     </select>
                   <!--  <label>Filter by riding</label>
                     <input id="riding-filter" type=""/>
                     <button class="btn btn-primary" id="riding-submit">Find my MP</button>-->
                </div>
                 <table class="table table-striped table-responsive">
                    <tr>
                        <th>Name</th>
                        <th>Riding</th>
                        <th>Party</th>
                        <th>Email</th>
                        <th>Offices</th>
                    </tr>
                    <tbody class="data_row"></tbody>
                </table>
            </div>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src ="assets/csvGen/app.js"></script>
</html>