<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
   





    <script>/*

    $(document).ready(function(){
    var firstResponse;
    var nextPage;
    var pagination;
    var csvFile = new Array();
    pagination = 20;
    firstResponse = 'https://represent.opennorth.ca/representatives/house-of-commons/?limit=400';
   // console.log('pagination before click' + pagination);
   
    response= firstResponse;
    
       $('#more-mps').on('click', function(){
       // alert();
            
            response = 'https://represent.opennorth.ca/representatives/house-of-commons/?limit=20&offset='+pagination;
          //  console.log(response);
            getData(response);
            pagination = pagination+20;
            console.log('pagination after load' + pagination);
        });

       function getData(){
        $.getJSON( response, function( data ) {
            //console.log(data.objects);
          $.each( data.objects, function( key, val ) {
           // console.log(val.email);
            csvFile[key] = val.email;
            $('#emails').append('<li>' + val.email + '</li>');
            });
          });
        console.log(csvFile);
        }
 
        getData();
    });*/
    </script>

    <script>
    var data = [["name1", "city1", "some other info"], ["name2", "city2", "more info"]];
var csvContent = "data:text/csv;charset=utf-8,";
data.forEach(function(infoArray, index){

   dataString = infoArray.join(",");
   csvContent += index < data.length ? dataString+ "\n" : dataString;

   var encodedUri = encodeURI(csvContent);
//window.open(encodedUri);

}); 
    </script>

    <button>Filter by Party</button>
    <button>Show emails</button>
    <button>Show phone numbers</button>
    <button>Download a CSV of the data from this search</button>
       <table class="table table-striped">
        <tbody>
        <tr>
        <th>Name</th>
        <th>Riding</th>
        <th>Party</th>
        <th>Email</th>
        <th>Legislative Fax</th>
        <th>Legislative Mailing</th>
        <th>Legislative Phone</th>
        <th>Constituency Fax</th>
        <th>Constituency Mailing</th>
        <th>Constituency Phone</th>

        </tr>
        <script type="text/template" id="search_template">
        

        <tr>

        
        <td><%= name %></td>
         <td><p><strong><%= district_name %></strong></td>
        <td>
        <p>
        
        <% if (party_name == "NDP") { %>
        <img height="10" src="images/ndp-logo.png"/>
        <% } %>
        <% if (party_name == "Liberal") { %>
        <img height="10" src="images/liberal-logo.png"/>
        <% } %>
        <% if (party_name == "Conservative") { %>
        <img height="10" src="images/conservative-logo.png"/>
        <% } %>
        <% if (party_name == "Green") { %>
        <img height="10" src="images/green-logo.gif"/>
        <%}%>
        <% if (party_name == "Bloc Québécois") { %>
        <img height="10" src="images/bloc-logo.png"/>
        <%}%>


        </p>
        </td>
        <td><p><%= email %></p></td>
       


        <% _.each(offices, function(office){ %>
           
            <td><%= office.type %> Fax: <%= office.fax %></td>
            <td><%= office.type %> Mailing: <%= office.postal %></td>
           <td><%= office.type %> Phone: <%= office.tel %></td>


        <% }); %>    
        
        </tr>
    



</script>
</tbody>
    </table>
    </head>
<body>

<div id="search_container"></div>



<div id="mpname"></div>
<!--
    <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-default" href="#">I want to see everything!</a>
    <a class="btn btn-default" href="#">I only want to see Cabinet members</a>
    <a class="btn btn-default" href="#">Show me emails</a>
    <a class="btn btn-default" href="#">Show me phone numbers</a>
    <a class="btn btn-default" href="#">Show me mailing addresses</a>
    <a class="btn btn-default" href="#">Show me social media accounts</a>
    <a class="btn btn-default" href="#">Show me profile information</a>
   


    <select class="form-control">
        <option>Show me the minister of</option>
    </select>
    <select class="form-control">
        <option>Filter by Party</option>
        <option>Liberals (120)</option>
        <option>Conservatives (XX)</option>
        <option>NDP(XX) </option>
        <option>Green Party (1)</option>
        <option> Partie Quebecois(2)</option>
    </select>
    </div>
    <div>

    <ul id='emails'>
        
    </ul>
    <button id="more-mps">MORE!</button>
</div>
--><!--
    <script src = "assets/csvGen/models.js"></script>
    <script src = "assets/csvGen/collections.js"></script>
    <script src = "assets/csvGen/views.js"></script>
    <script src = "assets/csvGen/router.js"></script>-->
    <script src = "assets/csvGen/app.js"></script>
    </body>

</html>