body {

}

section {
    display: block;
    float: none !important;
    font-size: 16px;
    margin: 0 auto;
    max-width: 90%;
}

.filters {
    padding: 15px 0px;
}

.filters label:not(:first-child) {
    padding-left: 15px;
}

.filters button.btn.btn-primary {
    margin-bottom: 3px;
}

.office {
    text-transform: uppercase;
}

.controls {
    padding: 30px 0px;
}

td img{
    padding-right: 10px;
}

